pyrofork==2.3.45
tgcrypto
pymongo==4.13.2
motor==3.7.1
marshmallow<4.0.0
umongo
requests
bs4
git+https://github.com/DreamXBotz/cinemagoer
shortzy
datetime
pytz
aiohttp
aiofiles
Pillow
psutil
httpx
fuzzywuzzy
python-Levenshtein
edge-tts
